{% extends base_template %}
{% load assets things %}

{% block page_title_text %}Data{% endblock page_title_text %}

{% block top_title_content %}
    <h2 class="top-title__heading left"><i class="fa fa-download"></i> {{ device.name }}</h2>
    <ul class="button-group filter-group radius right">
        <li><a href="{% url 'site:device' device.pk %}" class="button filter small active">About</a></li>
        <li><a href="{% url 'site:activity' device.pk %}" class="button filter small">Activity</a></li>
        <li><a href="#" class="button filter small disabled">Contents</a></li>
    </ul>
{% endblock top_title_content %}

{% block content %}
    <div class="row">
        <div class="medium-24 columns">
            <section class="thing border-box" data-equalizer="">

                <div class="medium-3 text-center columns image" data-equalizer-watch>
                    {% if device.pk == 6 %}
                        {% img "img/fibaro.jpg" width="100" %}
                    {% else %}
                        {% img "img/icon-pinwidget.png" width="100" %}
                    {% endif %}
                </div>

                <div class="medium-21 columns content" data-equalizer-watch>
                    <h4>{{ device.name }}</h4>
                    <div class="row">

                        <div class="medium-8 columns">
                            <p><strong>Brand:</strong> {{ device.brand }}</p>
                        </div>

                        <div class="medium-8 columns">
                            <p><strong>Last used:</strong> {% if device.last_used %}{{ device.last_used|date:"dS F Y H:i:s" }}{% else %}-{% endif %}</p>
                            <p><strong>IP address:</strong> {{ device.ip_address }}</p>
                        </div>

                        <div class="medium-8 columns">
                            <p><strong>Location:</strong> {% if device.location %}<a href="{% url 'site:location' device.location.location.pk %}">{{ device.location.location }}</a>{% else %}Bathroom{% endif %}</p>
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">
            <section class="border-box">
                <header class="single-line">
                    <div class="medium-24 columns">
                        <h4>Product description</h4>
                    </div>
                </header>

                <section class="p-global">
                    <p>{{ device.description }}</p>
                </section>
            </section>

            {% stream_graph device=device %}

            {% comment %}

            <section class="border-box">
                <header class="single-line">
                    <div class="medium-24 columns">
                        <h4>Technical specification <a class="right disabled" href="#">Check for updates</a></h4>
                    </div>
                </header>

                <section>
                    <table class="small-24">
                        <tbody>
                            <tr>
                                <th>Assembled size</th>
                                <td>
                                    <div>Width: 80cm</div>
                                    <div>Depth: 21cm</div>
                                    <div>Height: 64cm</div>
                                </td>
                            </tr>

                            <tr>
                                <th>Unit weight</th>
                                <td>17.5kg</td>
                            </tr>

                            <tr>
                                <th>Device materials</th>
                                <td>
                                    <div>Door: Steel</div>
                                    <div>Base material: ABS Plastic</div>
                                    <div>Backpanel: Fibreboard, foil</div>
                                    <div>Shelf: Tempered glass</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </section>

            {% endcomment %}
        </div>
        <div class="medium-12 columns">
            <section class="border-box">
                <header class="single-line">
                    <div class="medium-24 columns">
                        <h4>Widgets compatible with this device</h4>
                    </div>
                </header>

                <section>
                    <ul class="list--block">

                        <li class="item" data-equalizer>
                            <a href="#">
                                <div class="small-6 columns text-center" data-equalizer-watch>
                                    {% img "img/store/tesco.png" width="60" %}
                                </div>
                                <div class="small-14 columns" data-equalizer-watch>
                                    <h4 class="title">Tesco Replenishment</h4>
                                    <h6 class="sub-title">Tesco</h6>
                                    <p>Free</p>
                                </div>
                                <div class="small-4 columns text-center icon-vertical" data-equalizer-watch>
                                    <i class="fa fa-chevron-circle-right"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item disabled" data-equalizer>
                            <a href="#">
                                <div class="small-6 columns text-center" data-equalizer-watch>
                                    {% img "img/store/vroom.png" width="60" %}
                                </div>
                                <div class="small-14 columns" data-equalizer-watch>
                                    <h4 class="title">Vroom</h4>
                                    <h6 class="sub-title">VRM</h6>
                                    <p>Free</p>
                                </div>
                                <div class="small-4 columns text-center icon-vertical" data-equalizer-watch>
                                    <i class="fa fa-chevron-circle-right"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item disabled" data-equalizer>
                            <a href="#">
                                <div class="small-6 columns text-center" data-equalizer-watch>
                                    {% img "img/store/mystate.png" width="60" %}
                                </div>
                                <div class="small-14 columns" data-equalizer-watch>
                                    <h4 class="title">MyState</h4>
                                    <h6 class="sub-title">MyState</h6>
                                    <p>Free</p>
                                </div>
                                <div class="small-4 columns text-center icon-vertical" data-equalizer-watch>
                                    <i class="fa fa-chevron-circle-right"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item disabled" data-equalizer>
                            <a href="#">
                                <div class="small-6 columns text-center" data-equalizer-watch>
                                    {% img "img/store/fitbit.png" width="60" %}
                                </div>
                                <div class="small-14 columns" data-equalizer-watch>
                                    <h4 class="title">Diet analyser</h4>
                                    <h6 class="sub-title">Fitbit</h6>
                                    <p>Free</p>
                                </div>
                                <div class="small-4 columns text-center icon-vertical" data-equalizer-watch>
                                    <i class="fa fa-chevron-circle-right"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item disabled" data-equalizer>
                            <a href="#">
                                <div class="small-6 columns text-center" data-equalizer-watch>
                                    {% img "img/store/shareable.png" width="60" %}
                                </div>
                                <div class="small-14 columns" data-equalizer-watch>
                                    <h4 class="title">Shareables</h4>
                                    <h6 class="sub-title">Shareables</h6>
                                    <p>Free</p>
                                </div>
                                <div class="small-4 columns text-center icon-vertical" data-equalizer-watch>
                                    <i class="fa fa-chevron-circle-right"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item disabled" data-equalizer>
                            <a href="#">
                                <div class="small-6 columns text-center" data-equalizer-watch>
                                    {% img "img/store/monitor.png" width="60" %}
                                </div>
                                <div class="small-14 columns" data-equalizer-watch>
                                    <h4 class="title">Montior</h4>
                                    <h6 class="sub-title">Monitor</h6>
                                    <p>Free</p>
                                </div>
                                <div class="small-4 columns text-center icon-vertical" data-equalizer-watch>
                                    <i class="fa fa-chevron-circle-right"></i>
                                </div>
                            </a>
                        </li>

                    </ul>
                </section>
            </section>
        </div>
    </div>
{% endblock content %}
