{% extends base_template %}

{% block page_title_icon %}fa-cog{% endblock page_title_icon %}
{% block page_title_text %}Settings{% endblock page_title_text %}
{% block top_title %}{% endblock top_title %}

{% block content %}
    <div class="row mt-20">
        <div class="medium-24 columns">
            <section class="border-box">

                <section class="single-line">

                    <div class="medium-1 columns text-center">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <div class="medium-3 columns">
                        <h4>My profile</h4>
                    </div>

                    <div class="medium-18 columns">
                        <p>Passwords, profile pictures, account information</p>
                    </div>

                    <div class="medium-2 columns text-right">
                        <a href="/my-profile"><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </section>

                <section class="single-line disabled">

                    <div class="medium-1 columns text-center">
                        <i class="fa fa-cog"></i>
                    </div>

                    <div class="medium-3 columns">
                        <h4>Notifications</h4>
                    </div>

                    <div class="medium-18 columns">
                        <p>Notifications and emails</p>
                    </div>

                    <div class="medium-2 columns text-right">
                        <a><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </section>

                <section class="single-line">

                    <div class="medium-1 columns text-center">
                        <i class="fa fa-globe"></i>
                    </div>

                    <div class="medium-3 columns">
                        <h4>Locations</h4>
                    </div>

                    <div class="medium-18 columns">
                        <p>Add/remove locations</p>
                    </div>

                    <div class="medium-2 columns text-right">
                        <a href="/locations"><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </section>

                <section class="single-line disabled">

                    <div class="medium-1 columns text-center">
                        <i class="fa fa-download"></i>
                    </div>

                    <div class="medium-3 columns">
                        <h4>Time</h4>
                    </div>

                    <div class="medium-18 columns">
                        <p>Sync time settings</p>
                    </div>

                    <div class="medium-2 columns text-right">
                        <a><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </section>

                <section class="single-line">

                    <div class="medium-1 columns text-center">
                        <i class="fa fa-clock-o"></i>
                    </div>

                    <div class="medium-3 columns">
                        <h4>Events</h4>
                    </div>

                    <div class="medium-18 columns">
                        <p>Manage events, add/remove event, sharing, permissions</p>
                    </div>

                    <div class="medium-2 columns text-right">
                        <a href="/events"><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </section>

                <section class="single-line disabled">

                    <div class="medium-1 columns text-center">
                        <i class="fa fa-credit-card"></i>
                    </div>

                    <div class="medium-3 columns">
                        <h4>Payments</h4>
                    </div>

                    <div class="medium-18 columns">
                        <p>Manage payment information</p>
                    </div>

                    <div class="medium-2 columns text-right">
                        <a><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </section>

                <section class="single-line disabled">

                    <div class="medium-1 columns text-center">
                        <i class="fa fa-database"></i>
                    </div>

                    <div class="medium-3 columns">
                        <h4>3rd party data</h4>
                    </div>

                    <div class="medium-18 columns">
                        <p>Permissions, adding data, removing data</p>
                    </div>

                    <div class="medium-2 columns text-right">
                        <a><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </section>

            </section>
        </div>
    </div>
{% endblock content %}