{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Inactive activities list</h4>
<hr>
<section class="border-box--full--single--title--disabled">

    <div class="medium-22 columns">
        <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full border-box--disabled">

        <div class="medium-22 columns">
            <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
        </div>

        <div class="medium-2 columns text-right">
            <a><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Active activities list</h4>
<hr>
<section class="border-box--full--single--title">

    <div class="medium-22 columns">
        <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full border-box--disabled">

        <div class="medium-22 columns">
            <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
        </div>

        <div class="medium-2 columns text-right">
            <a><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Inactive + Active activities list</h4>
<hr>
<section class="border-box--full--single--title--disabled">

    <div class="medium-22 columns">
        <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>

<section class="border-box--full--single--title">

    <div class="medium-22 columns">
        <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full border-box--disabled">

        <div class="medium-22 columns">
            <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
        </div>

        <div class="medium-2 columns text-right">
            <a><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>

    <section class="border-box--full">

        <div class="medium-22 columns">
            <p><a href="#">John</a> used 2.5g of <a href="#">Right guard deodorant</a> from 08:23.21 - 08:23.35 on <a href="#">21/02/14</a></p>
        </div>

        <div class="medium-2 columns">
            <a class="right" href="#"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>