{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Inactive data list</h4>
<hr>
<section class="border-box--full--title--disabled--single">

    <div class="medium-5 columns">
        <h4 class="single__title">My data</h4>
    </div>

    <div class="medium-17 columns">
        <p>Connected with 201 data feeds</p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full--title">

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">My data</h4>
        </div>

        <div class="medium-17 columns">
            <p>Connected with 201 data feeds</p>
        </div>

        <div class="medium-2 columns">
            <a class="disabled right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Active data list</h4>
<hr>
<section class="border-box--full--title--single">

    <div class="medium-5 columns">
        <h4 class="single__title">My data</h4>
    </div>

    <div class="medium-17 columns">
        <p>Connected with 201 data feeds</p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full--title">

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">My data</h4>
        </div>

        <div class="medium-17 columns">
            <p class="border-box__description--single">Connected with 201 data
                feeds</p>
        </div>

        <div class="medium-2 columns">
            <a href="#" class="right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Inactive + Active data list</h4>
<hr>
<section class="border-box--full--title--disabled--single">

    <div class="medium-5 columns">
        <h4 class="single__title">My data</h4>
    </div>

    <div class="medium-17 columns">
        <p>Connected with 201 data feeds</p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>

<section class="border-box--full--title--single">

    <div class="medium-5 columns">
        <h4 class="single__title">My data</h4>
    </div>

    <div class="medium-17 columns">
        <p>Connected with 201 data feeds</p>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full--title">

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">My data</h4>
        </div>

        <div class="medium-17 columns">
            <p class="border-box__description--single">Connected with 201 data
                feeds</p>
        </div>

        <div class="medium-2 columns">
            <a class="disabled right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>

    <section class="border-box--full--title">

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">My data</h4>
        </div>

        <div class="medium-17 columns">
            <p class="border-box__description--single">Connected with 201 data
                feeds</p>
        </div>

        <div class="medium-2 columns">
            <a href="#" class="right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>