{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Inactive events list</h4>
<hr>
<section class="border-box--full--single--title--disabled">

    <div class="medium-2 columns text-center">
        <i class="fa fa-calendar"></i>
    </div>

    <div class="medium-5 columns">
        <h4 class="single__title">Travelling to work</h4>
    </div>

    <div class="medium-4 columns">
        <dl>
            <dt>Time:</dt>
            <dd>08:00 - 08:45</dd>
        </dl>
    </div>

    <div class="medium-6 columns">
        <dl>
            <dt>Data:</dt>
            <dd>21/02/2014 - 28/02/14</dd>
        </dl>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full">

        <div class="medium-2 columns text-center">
            <i class="fa fa-calendar"></i>
        </div>

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">Travelling to work</h4>
        </div>

        <div class="medium-4 columns">
            <dl>
                <dt>Time:</dt>
                <dd>08:00 - 08:45</dd>
            </dl>
        </div>

        <div class="medium-6 columns">
            <dl>
                <dt>Data:</dt>
                <dd>21/02/2014 - 28/02/14</dd>
            </dl>
        </div>

        <div class="medium-2 columns text-right">
            <a><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Active events list</h4>
<hr>
<section class="border-box--full--single--title">

    <div class="medium-2 columns text-center">
        <i class="fa fa-calendar"></i>
    </div>

    <div class="medium-5 columns">
        <h4 class="single__title">Travelling to work</h4>
    </div>

    <div class="medium-4 columns">
        <dl>
            <dt>Time:</dt>
            <dd>08:00 - 08:45</dd>
        </dl>
    </div>

    <div class="medium-6 columns">
        <dl>
            <dt>Data:</dt>
            <dd>21/02/2014 - 28/02/14</dd>
        </dl>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full">

        <div class="medium-2 columns text-center">
            <i class="fa fa-calendar"></i>
        </div>

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">Travelling to work</h4>
        </div>

        <div class="medium-4 columns">
            <dl>
                <dt>Time:</dt>
                <dd>08:00 - 08:45</dd>
            </dl>
        </div>

        <div class="medium-6 columns">
            <dl>
                <dt>Data:</dt>
                <dd>21/02/2014 - 28/02/14</dd>
            </dl>
        </div>

        <div class="medium-2 columns text-right">
            <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Inactive + Active events list</h4>
<hr>
<section class="border-box--full--single--title--disabled">

    <div class="medium-2 columns text-center">
        <i class="fa fa-calendar"></i>
    </div>

    <div class="medium-5 columns">
        <h4 class="single__title">Travelling to work</h4>
    </div>

    <div class="medium-4 columns">
        <dl>
            <dt>Time:</dt>
            <dd>08:00 - 08:45</dd>
        </dl>
    </div>

    <div class="medium-6 columns">
        <dl>
            <dt>Data:</dt>
            <dd>21/02/2014 - 28/02/14</dd>
        </dl>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>

<section class="border-box--full--single--title">

    <div class="medium-2 columns text-center">
        <i class="fa fa-calendar"></i>
    </div>

    <div class="medium-5 columns">
        <h4 class="single__title">Travelling to work</h4>
    </div>

    <div class="medium-4 columns">
        <dl>
            <dt>Time:</dt>
            <dd>08:00 - 08:45</dd>
        </dl>
    </div>

    <div class="medium-6 columns">
        <dl>
            <dt>Data:</dt>
            <dd>21/02/2014 - 28/02/14</dd>
        </dl>
    </div>

    <div class="medium-2 columns text-right">
        <a><i class="fa fa-chevron-circle-right"></i></a>
    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full">

        <div class="medium-2 columns text-center">
            <i class="fa fa-calendar"></i>
        </div>

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">Travelling to work</h4>
        </div>

        <div class="medium-4 columns">
            <dl>
                <dt>Time:</dt>
                <dd>08:00 - 08:45</dd>
            </dl>
        </div>

        <div class="medium-6 columns">
            <dl>
                <dt>Data:</dt>
                <dd>21/02/2014 - 28/02/14</dd>
            </dl>
        </div>

        <div class="medium-2 columns text-right">
            <a><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>

    <section class="border-box--full">

        <div class="medium-2 columns text-center">
            <i class="fa fa-calendar"></i>
        </div>

        <div class="medium-5 columns">
            <h4 class="border-box__title--single">Travelling to work</h4>
        </div>

        <div class="medium-4 columns">
            <dl>
                <dt>Time:</dt>
                <dd>08:00 - 08:45</dd>
            </dl>
        </div>

        <div class="medium-6 columns">
            <dl>
                <dt>Data:</dt>
                <dd>21/02/2014 - 28/02/14</dd>
            </dl>
        </div>

        <div class="medium-2 columns text-right">
            <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>