{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Grid Select</h4>
<hr>
<section class="border-box--full">

    <header class="sub-heading__title-container">

        <div class="medium-24 columns">
            <h6 class="sub-heading__title">Select locations from below</h6>
        </div>

    </header>

    <section class="sub-heading__content-container--no-padding navigation-boxes">

        <ul class="no-bullet sub-heading__content sub-heading__content--no-padding list--inline-block">

            <li class="navigation-boxes__item active">
                <a href="#">
                    <span>
                        <p>Hallway</p>
                        <i class="fa fa-check-circle"></i>
                    </span>
                </a>
            </li>

            <li class="navigation-boxes__item">
                <a href="#">
                    <span>
                        <p>Living Room</p>
                        <i class="fa fa-minus-circle"></i>
                    </span>
                </a>
            </li>

            <li class="navigation-boxes__item">
                <a href="#">
                    <span>
                        <p>Dining Room</p>
                        <i class="fa fa-minus-circle"></i>
                    </span>
                </a>
            </li>

            <li class="navigation-boxes__item">
                <a href="#">
                    <span>
                        <p>Kitchen</p>
                        <i class="fa fa-minus-circle"></i>
                    </span>
                </a>
            </li>

            <li class="navigation-boxes__item">
                <a href="#">
                    <span>
                        <p>Utility Room</p>
                        <i class="fa fa-minus-circle"></i>
                    </span>
                </a>
            </li>

            <li class="navigation-boxes__item">
                <a href="#">
                    <span>
                        <p>Bathroom 2</p>
                        <i class="fa fa-minus-circle"></i>
                    </span>
                </a>
            </li>

        </ul>

    </section>

</section>
<hr>
{% markdown STYLE %}
    <section class="single-line">

        <header class="sub-heading__title-container">

            <div class="medium-24 columns">
                <h6 class="sub-heading__title">Select locations from below</h6>
            </div>

        </header>

        <section class="sub-heading__content-container navigation-boxes">

            <ul class="no-bullet sub-heading__content sub-heading__content--no-padding list--inline-block">

                <li class="navigation-boxes__item active">
                    <a href="#">
                        <span>
                            <p>Hallway</p>
                            <i class="fa fa-check-circle"></i>
                        </span>
                    </a>
                </li>

                <li class="navigation-boxes__item">
                    <a href="#">
                        <span>
                            <p>Living Room</p>
                            <i class="fa fa-minus-circle"></i>
                        </span>
                    </a>
                </li>

                <li class="navigation-boxes__item">
                    <a href="#">
                        <span>
                            <p>Dining Room</p>
                            <i class="fa fa-minus-circle"></i>
                        </span>
                    </a>
                </li>

                <li class="navigation-boxes__item">
                    <a href="#">
                        <span>
                            <p>Kitchen</p>
                            <i class="fa fa-minus-circle"></i>
                        </span>
                    </a>
                </li>

                <li class="navigation-boxes__item">
                    <a href="#">
                        <span>
                            <p>Utility Room</p>
                            <i class="fa fa-minus-circle"></i>
                        </span>
                    </a>
                </li>

                <li class="navigation-boxes__item">
                    <a href="#">
                        <span>
                            <p>Bathroom 2</p>
                            <i class="fa fa-minus-circle"></i>
                        </span>
                    </a>
                </li>

            </ul>

        </section>

    </section>
{% endmarkdown %}
<hr>