{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Half shortcut buttons</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--full--padding">

            <ul class="row no-bullet list--box">
                <li class="medium-8 columns list--box__item"><a href="#">Last Hour</a></li>
                <li class="medium-8 columns list--box__item"><a href="#">Today</a></li>
                <li class="medium-8 columns list--box__item"><a href="#">Last Week</a></li>
                <li class="medium-8 columns list--box__item"><a href="#">Last Month</a></li>
                <li class="medium-8 columns list--box__item"><a href="#">Last 6 Months</a></li>
                <li class="medium-8 columns list--box__item"><a href="#">Last Year</a></li>
            </ul>

        </section>

    </section>

</div>
<hr>
{% markdown STYLE %}
    <section class="border-box--full no-heading">

        <ul class="row no-bullet list--box">
            <li class="medium-8 columns list--box__item"><a href="#">Last Hour</a></li>
            <li class="medium-8 columns list--box__item"><a href="#">Today</a></li>
            <li class="medium-8 columns list--box__item"><a href="#">Last Week</a></li>
            <li class="medium-8 columns list--box__item"><a href="#">Last Month</a></li>
            <li class="medium-8 columns list--box__item"><a href="#">Last 6 Months</a></li>
            <li class="medium-8 columns list--box__item"><a href="#">Last Year</a></li>
        </ul>

    </section>
{% endmarkdown %}
<hr>