{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Half action inactive</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--full--single--title--disabled">

            <div class="medium-2 columns">&nbsp;</div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

</div>
<hr>
{% markdown STYLE %}
    <section class="border-box--full border-box--disabled">

        <div class="medium-3 columns">&nbsp;</div>

        <div class="medium-19 columns">
            <p class="border-box__description--single"><strong>John</strong> woke up at 08:15.14</p>
        </div>

        <div class="medium-2 columns">
            <a href="#" class="right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Half action active</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--full--single--title">

            <div class="medium-2 columns">&nbsp;</div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

</div>
<hr>
{% markdown STYLE %}
    <section class="border-box--full">

        <div class="medium-3 columns">&nbsp;</div>

        <div class="medium-19 columns">
            <p class="border-box__description--single"><strong>John</strong> woke up at 08:15.14</p>
        </div>

        <div class="medium-2 columns">
            <a href="#" class="right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Half third party action inactive</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--full--single--title--disabled">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

</div>
<hr>
{% markdown STYLE %}
    <section class="border-box--full border-box--disabled">

        <div class="medium-3 columns">
            <h4 class="border-box__title--single"><i class="fa fa-facebook-square"></i></h4>
        </div>

        <div class="medium-19 columns">
            <p class="border-box__description--single"><strong>John</strong> woke up at 08:15.14</p>
        </div>

        <div class="medium-2 columns">
            <a href="#" class="right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Half third party action active</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--full--single--title">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

</div>
<hr>
{% markdown STYLE %}
    <section class="border-box--full">

        <div class="medium-3 columns">
            <h4 class="border-box__title--single"><i class="fa fa-facebook-square"></i></h4>
        </div>

        <div class="medium-19 columns">
            <p class="border-box__description--single"><strong>John</strong> woke up at 08:15.14</p>
        </div>

        <div class="medium-2 columns">
            <a href="#" class="right"><i class="fa fa-chevron-circle-right"></i></a>
        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Half action inactive</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--full--single--title--disabled">

            <div class="medium-2 columns">&nbsp;</div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="border-box--full--single--title">

            <div class="medium-2 columns">&nbsp;</div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="border-box--full--single--title--disabled">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="border-box--full--single--title">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

    <section class="medium-12 columns">

        <section class="border-box--full--single--title">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="border-box--full--single--title">

            <div class="medium-2 columns">&nbsp;</div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="border-box--full--single--title--disabled">

            <div class="medium-2 columns">&nbsp;</div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="border-box--full--single--title--disabled">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><strong>John</strong> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

</div>