{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Half widget</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--disabled--padding" data-equalizer>

            <div class="row">

                <div class="medium-20 columns" data-equalizer-watch>
                    <img alt="" class="left mr-15" src="http://placehold.it/100x100">
                    <h4>Tesco replenishment</h4>
                    <h6 class="subheading">Tesco</h6>
                    <p>Free</p>
                </div>

                <div class="medium-4 columns text-right icon-vertical" data-equalizer-watch>
                    <i class="fa fa-chevron-circle-right"></i>
                </div>

            </div>

        </section>

    </section>

</div>
<hr>
{% markdown STYLE %}
    <section class="content-container--no-heading border-box--full border-box--disabled" data-equalizer>

        <div class="medium-22 columns" data-equalizer-watch>
            <img alt="" class="left mr-15" src="http://placehold.it/100x100">
            <h4>Monitor</h4>
            <h6 class="subheading">Monitor</h6>
            <dl>
                <dt>Categories:</dt>
                <dd>Big data</dd>
                <dd>Analytics group</dd>
            </dl>
        </div>

        <div class="medium-2 columns">
            <i class="fa fa-chevron-circle-right"></i>
        </div>

    </section>
{% endmarkdown %}
<hr>