{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Half widget icons</h4>
<hr>
<div class="row">

    <section class="medium-12 columns">

        <section class="border-box--full--media--padding">

            <ul class="medium-block-grid-3 media__list--grid">
                <li>
                    <div class="border-box--full media__item">
                        <img alt="" src="http://placehold.it/200x200">
                        <p>Item 1</p>
                    </div>
                </li>
                <li>
                    <div class="border-box--full media__item">
                        <img alt="" src="http://placehold.it/200x200">
                        <p>Item 2</p>
                    </div>
                </li>
                <li>
                    <div class="border-box--full media__item">
                        <img alt="" src="http://placehold.it/200x200">
                        <p>Item 3</p>
                    </div>
                </li>
                <li>
                    <div class="border-box--full media__item">
                        <img alt="" src="http://placehold.it/200x200">
                        <p>Item 4</p>
                    </div>
                </li>
                <li>
                    <div class="border-box--full media__item">
                        <img alt="" src="http://placehold.it/200x200">
                        <p>Item 5</p>
                    </div>
                </li>
                <li>
                    <div class="border-box--full media__item">
                        <img alt="" src="http://placehold.it/200x200">
                        <p>Item 6</p>
                    </div>
                </li>
            </ul>

        </section>

    </section>

</div>
<hr>
{% markdown STYLE %}
    <section class="border-box--full--media no-heading">

        <ul class="medium-block-grid-3 media__list--grid">
            <li>
                <div class="border-box--full media__item">
                    <img alt="" src="http://placehold.it/200x200">
                    <p>Item 1</p>
                </div>
            </li>
            <li>
                <div class="border-box--full media__item">
                    <img alt="" src="http://placehold.it/200x200">
                    <p>Item 2</p>
                </div>
            </li>
            <li>
                <div class="border-box--full media__item">
                    <img alt="" src="http://placehold.it/200x200">
                    <p>Item 3</p>
                </div>
            </li>
            <li>
                <div class="border-box--full media__item">
                    <img alt="" src="http://placehold.it/200x200">
                    <p>Item 4</p>
                </div>
            </li>
            <li>
                <div class="border-box--full media__item">
                    <img alt="" src="http://placehold.it/200x200">
                    <p>Item 5</p>
                </div>
            </li>
            <li>
                <div class="border-box--full media__item">
                    <img alt="" src="http://placehold.it/200x200">
                    <p>Item 6</p>
                </div>
            </li>
        </ul>

    </section>
{% endmarkdown %}
<hr>