{% load markdown_deux_tags %}

<h4 id="header1">Header 1</h4>
<hr>
<header class="top-heading">
    <div class="row collapse">
        <div class="medium-4 columns top-heading__left">&nbsp;</div>
        <div class="medium-16 columns top-heading__center">
            <section>
                <i class="fa fa-2x fa-download"></i>
                <h1>Data</h1>
            </section>
        </div>
        <div class="medium-4 columns top-heading__right top-heading__right--content">
            <section>
                <i class="fa fa-bars"></i>
                <span>Menu</span>
            </section>
        </div>
    </div>
</header>
<hr>
{% markdown STYLE %}
    <header class="top-heading">
        <div class="row collapse">
            <div class="medium-4 columns top-heading__left">&nbsp;</div>
            <div class="medium-16 columns top-heading__center">
                <section>
                    <i class="fa fa-2x fa-download"></i>
                    <h1>Data</h1>
                </section>
            </div>
            <div class="medium-4 columns top-heading__right top-heading__right--content">
                <section>
                    <i class="fa fa-bars"></i>
                    <span>Menu</span>
                </section>
            </div>
        </div>
    </header>
{% endmarkdown %}
<hr>

<h4 id="header2">Header 2</h4>
<hr>
<header class="top-heading">
    <div class="row collapse">
        <div class="medium-4 columns top-heading__left top-heading__left--content">
            <section>
                <i class="fa fa-chevron-circle-left"></i>
                <span>Back</span>
            </section>
        </div>
        <div class="medium-16 columns top-heading__center">
            <section>
                <i class="fa fa-2x fa-download"></i>
                <h1>Data</h1>
            </section>
        </div>
        <div class="medium-4 columns top-heading__right top-heading__right--content">
            <section>
                <i class="fa fa-bars"></i>
                <span>Menu</span>
            </section>
        </div>
    </div>
</header>
<hr>
{% markdown STYLE %}
    <header class="top-heading">
        <div class="row collapse">
            <div class="medium-4 columns top-heading__left top-heading__left--content">
                <section>
                    <i class="fa fa-chevron-circle-left"></i>
                    <span>Back</span>
                </section>
            </div>
            <div class="medium-16 columns top-heading__center">
                <section>
                    <i class="fa fa-2x fa-download"></i>
                    <h1>Data</h1>
                </section>
            </div>
            <div class="medium-4 columns top-heading__right
            top-heading__right--content">
                <section>
                    <i class="fa fa-bars"></i>
                    <span>Menu</span>
                </section>
            </div>
        </div>
    </header>
{% endmarkdown %}
<hr>