{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Monitor app</h4>
<hr>
<section class="content-container--no-heading border-box--full" data-equalizer>

    <div class="medium-20 columns bdr" data-equalizer-watch>
        <img alt="" class="left mr-15" src="http://placehold.it/100x100">
        <h4>Monitor</h4>
        <h6 class="subheading">Monitor</h6>
        <dl>
            <dt>Categories:</dt>
            <dd>Big data</dd>
            <dd>Analytics group</dd>
        </dl>
    </div>

    <div class="medium-4 columns columns--reset" data-equalizer-watch>

        <ul class="no-bullet content-container__list--vertical">
            <li class="content-container__list-item primary">
                <a href="#">Run Widget</a>
            </li>
            <li class="content-container__list-item">
                <a href="#"><i class="fa fa-share"></i> Share</a>
            </li>
        </ul>

    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="content-container--no-heading border-box--full" data-equalizer>

        <div class="medium-20 columns bdr" data-equalizer-watch>
            <img alt="" class="left mr-15" src="http://placehold.it/100x100">
            <h4>Monitor</h4>
            <h6 class="subheading">Monitor</h6>
            <dl>
                <dt>Categories:</dt>
                <dd>Big data</dd>
                <dd>Analytics group</dd>
            </dl>
        </div>

        <div class="medium-4 columns columns--reset" data-equalizer-watch>

            <ul class="no-bullet content-container__list--vertical">
                <li class="content-container__list-item primary">
                    <a href="#">Run Widget</a>
                </li>
                <li class="content-container__list-item">
                    <a href="#"><i class="fa fa-share"></i> Share</a>
                </li>
            </ul>

        </div>

    </section>
{% endmarkdown %}
<hr>