{% load markdown_deux_tags %}

<h4 id="inactive-data-list">Stage 1</h4>
<hr>
<section class="border-box--full list--arrows">
    <ul class="no-bullet navigation--arrows__item-container">
        <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
        <li class="navigation--arrows__item disabled"><a href="#2">Select parameters</a></li>
        <li class="navigation--arrows__item disabled"><a href="#3">Data permissions</a></li>
        <li class="navigation--arrows__item disabled"><a href="#4">Create event</a></li>
        <li class="navigation--arrows__item disabled"><a href="#3">Data permissions</a></li>
    </ul>
</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full list--arrows">
        <ul class="no-bullet navigation--arrows__item-container">
            <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
            <li class="navigation--arrows__item disabled"><a href="#2">Select parameters</a></li>
            <li class="navigation--arrows__item disabled"><a href="#3">Data permissions</a></li>
            <li class="navigation--arrows__item disabled"><a href="#4">Create event</a></li>
            <li class="navigation--arrows__item disabled"><a href="#3">Data permissions</a></li>
        </ul>
    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Stage 2</h4>
<hr>
<section class="border-box--full list--arrows">
    <ul class="no-bullet navigation--arrows__item-container">
        <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
        <li class="navigation--arrows__item"><a href="#2">Select parameters</a></li>
        <li class="navigation--arrows__item disabled"><a href="#3">Data permissions</a></li>
        <li class="navigation--arrows__item disabled"><a href="#4">Create event</a></li>
    </ul>
</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full list--arrows">
        <ul class="no-bullet navigation--arrows__item-container">
            <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
            <li class="navigation--arrows__item"><a href="#2">Select parameters</a></li>
            <li class="navigation--arrows__item disabled"><a href="#3">Data permissions</a></li>
            <li class="navigation--arrows__item disabled"><a href="#4">Create event</a></li>
        </ul>
    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Stage 3</h4>
<hr>
<section class="border-box--full list--arrows">
    <ul class="no-bullet navigation--arrows__item-container">
        <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
        <li class="navigation--arrows__item"><a href="#2">Select parameters</a></li>
        <li class="navigation--arrows__item"><a href="#3">Data permissions</a></li>
        <li class="navigation--arrows__item disabled"><a href="#4">Create event</a></li>
    </ul>
</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full list--arrows">
        <ul class="no-bullet navigation--arrows__item-container">
            <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
            <li class="navigation--arrows__item"><a href="#2">Select parameters</a></li>
            <li class="navigation--arrows__item"><a href="#3">Data permissions</a></li>
            <li class="navigation--arrows__item disabled"><a href="#4">Create event</a></li>
        </ul>
    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-data-list">Stage 4</h4>
<hr>
<section class="border-box--full list--arrows">
    <ul class="no-bullet navigation--arrows__item-container">
        <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
        <li class="navigation--arrows__item"><a href="#2">Select parameters</a></li>
        <li class="navigation--arrows__item"><a href="#3">Data permissions</a></li>
        <li class="navigation--arrows__item"><a href="#4">Create event</a></li>
    </ul>
</section>
<hr>
{% markdown STYLE %}
    <section class="border-box--full list--arrows">
        <ul class="no-bullet navigation--arrows__item-container">
            <li class="navigation--arrows__item"><a href="#1">Select time frame</a></li>
            <li class="navigation--arrows__item"><a href="#2">Select parameters</a></li>
            <li class="navigation--arrows__item"><a href="#3">Data permissions</a></li>
            <li class="navigation--arrows__item"><a href="#4">Create event</a></li>
        </ul>
    </section>
{% endmarkdown %}
<hr>
