{% load markdown_deux_tags %}

<h4 id="sub-heading1">Sub heading button</h4>
<hr>
<header class="border-box">

    <div class="sub-heading__title-container">

        <div class="medium-24 columns clearfix">
            <h4 class="sub-heading__title left">Sub heading</h4>
        </div>

    </div>

</header>
<hr>
{% markdown STYLE %}
    <header class="single-line">

        <div class="sub-heading__title-container">

            <div class="medium-24 clearfix">
                <h4 class="sub-heading__title">Sub heading</h4>
                <a class="button small radius right" href="#">Create an event</a>
            </div>

        </div>

    </header>
{% endmarkdown %}
<hr>

<h4 id="sub-heading2">Sub heading options closed</h4>
<hr>
<section class="border-box">

    <header class="sub-heading__title-container">

        <div class="medium-21 columns clearfix">
            <h4 class="sub-heading__title">Sub heading</h4>
        </div>

        <div class="medium-3 left sub-heading__title-options">
            <a href="#open">
                <section>
                    <span>Options</span>
                    <i class="fa fa-chevron-circle-down"></i>
                </section>
            </a>
        </div>

    </header>

</section>
<hr>
{% markdown STYLE %}
    <section>

        <header class="single-line">

            <div class="sub-heading__title-container">

                <div class="medium-20 columns clearfix">
                    <h6 class="sub-heading__title">Sub heading</h6>
                </div>

                <div class="medium-4 left sub-heading__title-options">
                    <a href="#open">
                        <section>
                            <span>Options</span>
                            <i class="fa fa-chevron-circle-down"></i>
                        </section>
                    </a>
                </div>

            </div>

        </header>

    </section>
{% endmarkdown %}
<hr>

<h4 id="sub-heading3">Sub heading options open</h4>
<hr>
<section class="border-box">

    <header class="sub-heading__title-container">

        <div class="medium-21 columns">
            <h4 class="sub-heading__title">Sub heading</h4>
        </div>

        <div class="medium-3 left sub-heading__title-options">
            <a href="#open">
                <section>
                    <span>Options</span>
                    <i class="fa fa-chevron-circle-up"></i>
                </section>
            </a>
        </div>

    </header>

    <section class="sub-heading__content-container">

        <div class="medium-24 columns sub-heading__content">

            <div class="row">

                <div class="medium-12 columns">

                    <div class="row">

                        <div class="medium-8 columns">
                            <label>Field
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>

                        <div class="medium-8 columns">
                            <label>Field
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>

                        <div class="medium-8 columns">
                            <label>Field
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>

                    </div>

                </div>

                <div class="medium-12 columns">

                    <div class="row">

                        <div class="medium-8 columns">
                            <label>Field
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>

                        <div class="medium-8 columns">
                            <label>Field
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>

                        <div class="medium-8 columns">
                            <label>Field
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

</section>
<hr>
{% markdown STYLE %}
    <section class="single-line">

        <header class="sub-heading__title-container">

            <div class="medium-20 columns">
                <h6 class="sub-heading__title">Sub heading</h6>
            </div>

            <div class="medium-4 left sub-heading__title-options">
                <a href="#open">
                    <section>
                        <span>Options</span>
                        <i class="fa fa-chevron-down"></i>
                    </section>
                </a>
            </div>

        </header>

        <section class="sub-heading__content-container">

            <div class="medium-24 columns sub-heading__content">

                <div class="row">

                    <div class="medium-12 columns">

                        <div class="row">

                            <div class="medium-8 columns">
                                <label>Field
                                    <select>
                                        <option value="husker">Husker</option>
                                        <option value="starbuck">Starbuck</option>
                                        <option value="hotdog">Hot Dog</option>
                                        <option value="apollo">Apollo</option>
                                    </select>
                                </label>
                            </div>

                            <div class="medium-8 columns">
                                <label>Field
                                    <select>
                                        <option value="husker">Husker</option>
                                        <option value="starbuck">Starbuck</option>
                                        <option value="hotdog">Hot Dog</option>
                                        <option value="apollo">Apollo</option>
                                    </select>
                                </label>
                            </div>

                            <div class="medium-8 columns">
                                <label>Field
                                    <select>
                                        <option value="husker">Husker</option>
                                        <option value="starbuck">Starbuck</option>
                                        <option value="hotdog">Hot Dog</option>
                                        <option value="apollo">Apollo</option>
                                    </select>
                                </label>
                            </div>

                        </div>

                    </div>

                    <div class="medium-12 columns">

                        <div class="row">

                            <div class="medium-8 columns">
                                <label>Field
                                    <select>
                                        <option value="husker">Husker</option>
                                        <option value="starbuck">Starbuck</option>
                                        <option value="hotdog">Hot Dog</option>
                                        <option value="apollo">Apollo</option>
                                    </select>
                                </label>
                            </div>

                            <div class="medium-8 columns">
                                <label>Field
                                    <select>
                                        <option value="husker">Husker</option>
                                        <option value="starbuck">Starbuck</option>
                                        <option value="hotdog">Hot Dog</option>
                                        <option value="apollo">Apollo</option>
                                    </select>
                                </label>
                            </div>

                            <div class="medium-8 columns">
                                <label>Field
                                    <select>
                                        <option value="husker">Husker</option>
                                        <option value="starbuck">Starbuck</option>
                                        <option value="hotdog">Hot Dog</option>
                                        <option value="apollo">Apollo</option>
                                    </select>
                                </label>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </section>
{% endmarkdown %}
<hr>