{% load markdown_deux_tags %}

<h4 id="thing">Thing</h4>
<hr>
<section class="thing border-box">

    <div class="thing__inner">

        <div class="medium-3 text-center columns thing__image">
            <img src="http://placehold.it/100x100">
        </div>

        <div class="medium-21 columns thing__content">
            <h4 class="thing__title">Fibaro Home Centre</h4>

            <div class="row">

                <div class="medium-6 columns">
                    <p>Model number: FHC495628</p>
                    <p>Brand: Fibaro</p>
                </div>

                <div class="medium-6 columns">
                    <p>Last used: 21/04/14 by <a href="#">John</a></p>
                    <p>IP address: 213.104.176.231</p>
                </div>

                <div class="medium-6 columns">
                    <p>Location: <a href="#">Bathroom 1</a></p>
                </div>

                <div class="medium-3 columns">&nbsp;</div>

            </div>
        </div>

    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="thing">

        <div class="thing__inner">

            <div class="medium-4 text-center columns thing__image">
                <img src="http://placehold.it/100x100">
            </div>

            <div class="medium-20 columns thing__content">
                <h4>Fibaro Home Centre</h4>

                <div class="row">

                    <div class="medium-7 columns">
                        <p>Model number: FHC495628</p>
                        <p>Brand: Fibaro</p>
                    </div>

                    <div class="medium-7 columns">
                        <p>Last used: 21/04/14 by <a href="#">John</a></p>
                        <p>IP address: 213.104.176.231</p>
                    </div>

                    <div class="medium-7 columns">
                        <p>Location: <a href="#">Bathroom 1</a></p>
                    </div>

                    <div class="medium-3 columns">&nbsp;</div>

                </div>
            </div>

        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-thing">Inactive Thing</h4>
<hr>
<section class="thing--disabled border-box">

    <div class="thing__inner">

        <div class="medium-3 text-center columns thing__image">
            <img src="http://placehold.it/100x100">
        </div>

        <div class="medium-21 columns thing__content">
            <h4 class="thing__title">Fibaro Home Centre</h4>

            <div class="row">

                <div class="medium-6 columns">
                    <p>Model number: FHC495628</p>
                    <p>Brand: Fibaro</p>
                </div>

                <div class="medium-6 columns">
                    <p>Last used: 21/04/14 by <a href="#">John</a></p>
                    <p>IP address: 213.104.176.231</p>
                </div>

                <div class="medium-6 columns">
                    <p>Location: <a href="#">Bathroom 1</a></p>
                </div>

                <div class="medium-3 medium-offset-3 columns text-right">
                    <a><i class="fa fa-chevron-circle-right"></i></a>
                </div>

            </div>
        </div>

    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="thing">

        <div class="thing__inner">

            <div class="medium-4 text-center columns thing__image">
                <img src="http://placehold.it/100x100">
            </div>

            <div class="medium-20 columns thing__content">
                <h4>Fibaro Home Centre</h4>

                <div class="row">

                    <div class="medium-7 columns">
                        <dl class="sub-nav">
                            <dt>Model number:</dt>
                            <dd>FHC495628</dd>
                            <dt>Brand:</dt>
                            <dd>Fibaro</dd>
                        </dl>
                    </div>

                    <div class="medium-7 columns">
                        <dl class="sub-nav">
                            <dt>Last used:</dt>
                            <dd>21/04/14 by John</dd>
                            <dt>IP address:</dt>
                            <dd>213.104.176.231</dd>
                        </dl>
                    </div>

                    <div class="medium-7 columns">
                        <dl class="sub-nav">
                            <dt>Location:</dt>
                            <dd>Bathroom 1</dd>
                        </dl>
                    </div>

                    <div class="medium-3 medium-offset-3 columns text-right">
                        <a><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </div>
            </div>

        </div>

    </section>
{% endmarkdown %}
<hr>

<h4 id="inactive-thing">Active Thing</h4>
<hr>
<section class="thing border-box">

    <div class="thing__inner">

        <div class="medium-3 text-center columns thing__image">
            <img src="http://placehold.it/100x100">
        </div>

        <div class="medium-21 columns thing__content">
            <h4 class="thing__title">Fibaro Home Centre</h4>

            <div class="row">

                <div class="medium-6 columns">
                    <p>Model number: FHC495628</p>
                    <p>Brand: Fibaro</p>
                </div>

                <div class="medium-6 columns">
                    <p>Last used: 21/04/14 by <a href="#">John</a></p>
                    <p>IP address: 213.104.176.231</p>
                </div>

                <div class="medium-6 columns">
                    <p>Location: <a href="#">Bathroom 1</a></p>
                </div>

                <div class="medium-3 medium-offset-3 columns text-right">
                    <a><i class="fa fa-chevron-circle-right"></i></a>
                </div>

            </div>
        </div>

    </div>

</section>
<hr>
{% markdown STYLE %}
    <section class="thing">

        <div class="thing__inner">

            <div class="medium-4 text-center columns thing__image">
                <img src="http://placehold.it/100x100">
            </div>

            <div class="medium-20 columns thing__content">
                <h4>Fibaro Home Centre</h4>

                <div class="row">

                    <div class="medium-7 columns">
                        <dl class="sub-nav">
                            <dt>Model number:</dt>
                            <dd>FHC495628</dd>
                            <dt>Brand:</dt>
                            <dd>Fibaro</dd>
                        </dl>
                    </div>

                    <div class="medium-7 columns">
                        <dl class="sub-nav">
                            <dt>Last used:</dt>
                            <dd>21/04/14 by John</dd>
                            <dt>IP address:</dt>
                            <dd>213.104.176.231</dd>
                        </dl>
                    </div>

                    <div class="medium-7 columns">
                        <dl class="sub-nav">
                            <dt>Location:</dt>
                            <dd>Bathroom 1</dd>
                        </dl>
                    </div>

                    <div class="medium-3 columns thing__link-container">
                        <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
                    </div>

                </div>
            </div>

        </div>

    </section>
{% endmarkdown %}
<hr>