<section class="border-box">

    <header class="single-line">
        <div class="medium-18 columns">
            <h4>Actions</h4>
        </div>
        <div class="medium-6 left title-options">
            <a href="#open">
                <span>Options</span>
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </div>
    </header>

    <section>

        <section class="single-line full">

            <div class="medium-2 columns icon--no-padding">&nbsp;</div>

            <div class="medium-18 columns">
                <p><a href="{% url 'site:my-profile' %}">John</a> woke up at 08:15.14</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="{% url 'site:my-profile' %}"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full disabled">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><a href="#">John</a> liked a status by <a href="#">Liam Cooper</a> on facebook at 08:17.21 then there is some more text like so to check to see if the ellipsis works :)</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full disabled">

            <div class="medium-2 columns text-right icon--no-padding">
                <i class="fa fa-lg fa-facebook-square"></i>
            </div>

            <div class="medium-18 columns">
                <p><a href="#">John</a> left a comment on <a href="#">Susan Spring's</a> picture on facebook at 08:17.21 then there is some more text like so to check to see if the ellipsis works :)</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full disabled">

            <div class="medium-2 columns icon--no-padding">&nbsp;</div>

            <div class="medium-18 columns">
                <p><a href="#">John</a> opened <a href="#">bedroom window 1</a> at 08:01:21</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full disabled">

            <div class="medium-2 columns icon--no-padding">&nbsp;</div>

            <div class="medium-18 columns">
                <p><a href="#">John</a> listened to <a href="#">Be there on time - Some Artist</a> at 08:01:21</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full disabled">

            <div class="medium-2 columns icon--no-padding">&nbsp;</div>

            <div class="medium-18 columns">
                <p><a href="#">John</a> listened to <a href="#">A nother song - Some Artist</a> at 08:01:21</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full disabled">

            <div class="medium-2 columns icon--no-padding">&nbsp;</div>

            <div class="medium-18 columns">
                <p><a href="#">John</a> listened to <a href="#">A nother song - Some Artist</a> at 08:01:21</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

</section>