<section class="border-box">

    <header class="single-line">
        <div class="medium-18 columns">
            <h4>Data streams</h4>
        </div>
        <div class="medium-6 left title-options">
            <a href="#open">
                <span>Options</span>
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </div>
    </header>

    <section>

        <section class="single-line full">

            <div class="medium-4 columns">
                <p><strong>Temperature</strong></p>
            </div>

            <div class="medium-20 columns">
                <p>This is not text it is actually a graph</p>
            </div>

        </section>

        <section class="single-line full">

            <div class="medium-4 columns">
                <p><strong>Humidity</strong></p>
            </div>

            <div class="medium-20 columns">
                <p>This is not text it is actually a graph</p>
            </div>

        </section>

        <section class="single-line full">

            <div class="medium-4 columns">
                <p><strong>Sound</strong></p>
            </div>

            <div class="medium-20 columns">
                <p>This is not text it is actually a graph</p>
            </div>

        </section>

        <section class="single-line full">

            <div class="medium-4 columns">
                <p><strong>Illumination</strong></p>
            </div>

            <div class="medium-20 columns">
                <p>This is not text it is actually a graph</p>
            </div>

        </section>

    </section>

</section>

<section class="border-box">

    <header class="single-line">
        <div class="medium-18 columns">
            <h4>States</h4>
        </div>
        <div class="medium-6 left title-options">
            <a href="#open">
                <span>Options</span>
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </div>
    </header>

    <section>

        <section class="single-line full">

            <div class="medium-20 columns">
                <p>Device <a href="{% url 'site:device' 1 %}">Shower</a> turned on for 15 minutes</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="{% url 'site:device' 1 %}"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full">

            <div class="medium-20 columns">
                <p>Device <a href="{% url 'site:device' 1 %}">Bathroom Light</a> turned on for 20 minutes</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="{% url 'site:device' 1 %}"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full disabled">

            <div class="medium-20 columns">
                <p>Device <a href="{% url 'site:device' 1 %}">Bathroom Sonos</a> tin in multiple states for 20 mins</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="{% url 'site:device' 1 %}"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

        <section class="single-line full">

            <div class="medium-20 columns">
                <p>Device <a href="{% url 'site:device' 1 %}">Biscuit tin</a> in multiple states for 20 mins</p>
            </div>

            <div class="medium-4 columns text-right">
                <a href="{% url 'site:device' 1 %}"><i class="fa fa-chevron-circle-right"></i></a>
            </div>

        </section>

    </section>

</section>